@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anonyymi kysymyspeli</h1>
</div>

<div class="flex-parent jc-center">
    <button class="button">ALOITA PELI</button>
    <button class="button2">LIITY PELIIN</button>
</div>